body {
    background: url('HD-wallpaper-cabin-house-amazing-sunset.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: rgba(128, 128, 128, 0.5); /* Transparent grey */
    max-width: 500px;
    padding: 20px; /* Reduced padding */
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(128, 128, 128, 0.8);
    text-align: center;
}

h2, label, p {
    color: #fff;
    margin: 12px 0; /* Reduced margin */
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.3); /* Slightly transparent background */
    color: #fff;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    background: #debff4;
    color: black;
    padding: 10px; /* Reduced padding */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    transition: background 0.3s;
}

button:hover {
    background: #eabd1b;
}

#temp-div p {
    font-size: 60px; /* Reduced font size */
    margin-top: -20px; /* Adjusted margin */
    color: #fff;
}

#weather-info {
    font-size: 18px; /* Reduced font size */
    color: #fff;
}

#weather-icon {
    width: 200px; /* Reduced size */
    height: 200px; /* Reduced size */
    margin: 0 auto 10px;
    display: none;
}

#hourly-forecast {
    margin-top: 40px; /* Reduced margin */
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: #fff;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}
